<!DOCTYPE html>
<html>
<head>
<title>goaltracker</title>
<link rel="stylesheet" type="text/css" href="/stylesheets/kickstart.css" media="all" />
<link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="all" />                 
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/kickstart.js"></script>                       
</head>
<body>

<!-- Menu Horizontal -->
<ul class="menu">
<li class="current"><a href="/">Track goals</a></li>
<li><a href="/goal/addgoalview">Add new goal</a></li>
<li><a href="/goal/editgoalview">Edit existing goal</a></li>
<li><a href="/visualize">Visualize goals</a></li>
</ul>

<div class="grid">
<div class="col_12">
	<div class="col_9">
		{{{body}}}
	</div>

    {{#if success_msg}}
        <div class="notice success"><i class="icon-remove-sign icon-large"></i> {{success_msg}}
            <a href="#close" class="icon-remove"></a>
        </div>
    {{/if}}
	
	<hr />
	
</div>

</div><!-- END GRID -->

<!-- ===================================== START FOOTER ===================================== -->
<div class="clear"></div>


</body></html>