<!DOCTYPE html>
<html>
    <head>
        <title>goaltracker</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/kickstart.css" media="all" />
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" media="all" />                 
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
 
        <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/css/fabric.min.css" />
        <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/css/fabric.components.min.css" />
        <script src="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-js/1.4.0/js/fabric.min.js"></script>    
    </head>
    <body>
       <ul class="ms-Pivot ms-Pivot--tabs menu" id="menulist">
        <li class="ms-Pivot-link"><a class="ms-Link first" href="/">Track goals</a></li>
        <li class="ms-Pivot-link"><a class="ms-Link" href="/goal/addgoalview">Add new goal</a></li>
        <li class="ms-Pivot-link"><a class="ms-Link" href="/goal/editgoalview">Edit existing goal</a></li>
        <li class="ms-Pivot-link"><a class="ms-Link" href="/visualize">Visualize goals</a></li>
        </ul>  
        
        <div class="ms-Grid">
            <div class="ms-Grid-col ms-u-sm12 ms-u-md1 ms-u-lg2"></div>
            <div class="ms-Grid-col ms-u-sm12 ms-u-md11 ms-u-lg8">
                <div class="ms-Grid-col ms-u-sm12 ms-u-md8 ms-u-lg12 dsgn">
                   
                