<p>
    <b>Add a new goal</b>
</p>

<form method="post" action="/goal/add">
    <table>
        <tr>
            <td>Goal name</td>
            <td><input type="text" name="goal"></td>
        </tr>
        <tr>
            <td>Expectation <br />(No. of days/week)</td>
            <td><input type="text" name="expectation"></td>
        </tr>
    </table>

    <input type="submit" value="Add goal">

</form>