<p>
    <b>Add a new goal</b>
</p>

<form method="post" action="/goal/add">
    <table class="ms-Table">
        <tr>
            <td><label class="ms-Label">Goal name</label></td>
            <td><input class="ms-TextField-field" type="text" name="goal"></td>
        </tr>
        <tr>
            <td><label class="ms-Label">Expectation <br />(No. of days/week)</label></td>
            <td><input class="ms-TextField-field" type="text" name="expectation"></td>
        </tr>
    </table>

    <!--<input type="submit" value="Add goal">-->
    <button class="ms-Button ms-Button--primary">
        <span class="ms-Button-label">Add goal</span> 
    </button>
</form>
<script type="text/javascript">
  var ButtonElements = document.querySelectorAll(".ms-Button");
  for (var i = 0; i < ButtonElements.length; i++) {
    new fabric['Button'](ButtonElements[i], function() {
      // Insert Event Here
    });
  }
</script>